body{
  background-color: aliceblue;
}
.main{
  margin-top: 4em !important;
}
.enviar{
  top: 10px !important;
}
strong{
  color: #1e88e5;
  font-size: 25pt;
}
li{
  color: #0d47a1;
  font-size: 20pt;
}
.reset{
  margin-top: 20px;
}
.juego img{
  width: 150px;
  height: 150px;
  border-radius: 1em;
}
.tiempos li{
  color: #b71c1c
}
span {
  color: #0d47a1;
}
.segundos{
color: #b71c1c;
}
.color{
  width: 50px !important;
  height: 50px;
  position: relative;
  border-radius: 50%;
  border: solid 1px black;
  margin-top: 20px;
  margin-left: -100px !important;
}
.color-rojo{
  background-color: red;
}
.color-blanco{
  background-color: white;
}
.color-negro{
  background-color: black;
}
.color-verde{
  background-color: green;
}
.color-azul{
  background-color: blue;
}
.header {
  color: #ee6e73;
  font-weight: 300;
}
.table-body {
  height: 450px !important;
  overflow-y: scroll;
}
#myChart{
  margin-top: 80px;
  background-color: ghostwhite;
padding: 10px;
}
th:hover{
  cursor: pointer;
  background-color: #fafafa;
}
.title
{
  color: #26a69a;
}
.selection
{
  padding-right: 0px;
  margin-right: 0px;
}

.card {
  background-color: ghostwhite;
}
