<div class="row">
  <ul class="nombres col s3 card" style="margin-top: 30px">
    <h4 class="header">Jugadores</h4>
    <hr>
    <li ng-repeat="jugador in jugadores">
      <strong>{{ jugador.nombre }}</strong><br>
        <span class="card" ng-show="ok.respuesta===false">Ups</span>
        <span class="card" ng-show="ok.respuesta===true">Bien</span>
    </li>
  </ul>
<div class="col s1">
.
</div>
  <div class="juego col s8" ng-if="imagenes != undefined">
    <div class="row">
      <h3 class="col s9 header selection">Selecciona: {{ correcta }}</h3>
      <div class="col s3 color color-{{correcta}}"></div>
    </div>
    <div class="row">
      <div class="col s4">.</div>
      <div class="col s4">
        <img ng-src="{{imagenes.arriba}}" alt="arriba"/>
      </div>
      <div class="col s4">.</div>
    </div>
    <div class="row">
      <div class="col s4">
        <img ng-src="{{imagenes.izquierda}}" alt="izquierda"/>
      </div>
      <div class="col s4">
        .
      </div>
      <div class="col s4">
        <img ng-src="{{imagenes.derecha}}" alt="derecha"/>
      </div>
    </div>
    <div class="row">
      <div class="col s4">.</div>
      <div>
        <img ng-src="{{imagenes.abajo}}" alt="abajo"/>
      </div>
      <div class="col s4">.</div>
    </div>

  </div>
</div>
