<div class="row">
	<div class="col s8">
		<h3 class="header">Estadísticas de los usuarios</h3>
		<div class="card table-body" style="padding: 20px">

			<table class="table striped" ng-init="orden = '-correctas'">
				<thead>
					<tr>
						<th ng-click="orden='nombre'"> Usuario</th>
						<th ng-click="orden='-incorrectas'"> Incorrectas</th>
						<th ng-click="orden='-correctas'"> Correctas</th>
						<th ng-click="orden='-tiempo_promedio'"> Tiempo prom.</th>
						<th> Ver gráfica </th>
					</tr>
				</thead>

					<tbody>
						<tr ng-repeat="user in usuarios | orderBy: orden " ng-if="($index + 1) % 4 == 0">
							<td>{{user.nombre}} </td>
							<td>{{user.incorrectas}} </td>
							<td>{{user.correctas}} </td>
							<td>
								{{ user.tiempo_promedio }}
							</td>
							<td><a href="" ng-click="graficar(user)">gráfica</a> </td>
						</tr>
					</tbody>

			</table>
		</div>

	</div>
	<div class="col s4">
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
</div>
<a href="/#/"style="margin-top:-10px" class="btn waves-effect green darken-1 waves-light lighten-3 col s12">Volver</a><br>
