<h3 class="row header">Resultados</h3>
<ul class="row">
  <div ng-repeat="usuario in usuarios">
  <li>
    <h4>{{ usuario.nombre }}</h4>
    <div class="row">
      <span class="col s3">Correctas: <span class="segundos">{{ usuario.correctas }}</span></span>
      <span class="col s3">Incorrectas: <span class="segundos">{{ usuario.incorrectas }}</span></span>
      <span class="col s6">Tiempo total: <span class="segundos">{{ usuario.total | number: 3}} Segundos</span></span>
    </div>
    <ul class="tiempos" >
      <li ng-repeat="tiempo in usuario.tiempos">
        <span>Pregunta {{$index+1}}: <span class="segundos">{{ (tiempo/60)/60 | number: 3 }} Segundos</span></span>
      </li>
    </ul>
  </li>
  <hr>
</div>
</ul>
<a href="/#/app/estadisticas" style="margin-top:20px; margin-left: 20px;
    margin-top: 22px;float: right" class="btn waves-effect green darken-1 waves-light lighten-3 col s12">Estadisticas</a><br>
<button type="button" class="btn" style="float: right" ng-click="reset()">Volver a jugar</button>
