<div class="main">

    <form role="form" ng-submit="enviar()" class="row">
      <h2 class="header title" align="center">MotriPlay</h2>
      <h4 class="header" align="center" style="margin-bottom: 50px">Ingrese un nombre para comenzar a jugar</h4>
      <input type="text" name="nombre" ng-model="nombre" placeholder="Nombre..." class="col s8">
      <div class="col s2"></div>
      <button class="btn waves-effect enviar waves-light lighten-3 col s2" type="submit" name="action" ng-disabled="esperando">Enviar
      <i class="material-icons right">send</i>
    </button>
    </form>
    <div class="row">
      <div class="col s2">
        <a href="/#/app/dashboard" class="btn waves-effect blue darken-1 waves-light lighten-3 col s12">Comenzar</a><br>
        <button type="button" class="btn red darken-4 reset waves-effect waves-light lighten-3 col s12" ng-click="reset()">Borrar Datos</button>
          <a href="/#/app/estadisticas"style="margin-top:20px" class="btn waves-effect green darken-1 waves-light lighten-3 col s12">Estadisticas</a><br>
      </div>
      <div class="col s10 lista" >
        <strong ng-show="esperando">Esperando persona</strong>
        <strong ng-hide="esperando">Lista de personas</strong>
        <ul class="nombres">
          <li ng-repeat="jugador in jugadores">{{ jugador.nombre }}</li>
        </ul>
      </div>

    </div>
</div>
